/* Responsive CSS */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .main-container {
        flex-direction: row;
    }
    .iframe-container {
        height: 100%;
    }
    .watch-ui {
        width: 720px;
        height: 100%;
    }
    .watch-config-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-inline:40px;
        height: 100%;
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }